In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime 

from pandas.plotting import scatter_matrix
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('hotel_bookings.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
print('Total de variáveis:', df.shape[1])
print('Total de entradas:', df.shape[0])

Total de variáveis: 32
Total de entradas: 119390

In [4]:
df['is_canceled'].mean()

0.37041628277075134

In [5]:
pd.DataFrame({'tipo de dados':df.dtypes,
                'dados_ausentes(%)': (df.isnull().sum()/df.shape[0])*100,
                    'valores unicos': df.nunique()}).sort_values(by='dados_ausentes(%)', ascending=False)

,tipo de dados,dados_ausentes(%),valores unicos
company,float64,94.306893,352
agent,float64,13.686238,333
country,object,0.408744,177
children,float64,0.003350,5
reserved_room_type,object,0.000000,10
assigned_room_type,object,0.000000,12
booking_changes,int64,0.000000,21
deposit_type,object,0.000000,3
hotel,object,0.000000,2
previous_cancellations,int64,0.000000,15
days_in_waiting_list,int64,0.000000,128
customer_type,object,0.000000,4
adr,float64,0.000000,8879
required_car_parking_spaces,int64,0.000000,5
total_of_special_requests,int64,0.000000,6
reservation_status,object,0.000000,3
previous_bookings_not_canceled,int64,0.000000,73
is_repeated_guest,int64,0.000000,2
is_canceled,int64,0.000000,2
distribution_channel,object,0.000000,5
market_segment,object,0.000000,8
meal,object,0.000000,5
babies,int64,0.000000,5
adults,int64,0.000000,14
stays_in_week_nights,int64,0.000000,35
stays_in_weekend_nights,int64,0.000000,17
arrival_date_day_of_month,int64,0.000000,31
arrival_date_week_number,int64,0.000000,53
arrival_date_month,object,0.000000,12
arrival_date_year,int64,0.000000,3
lead_time,int64,0.000000,479
reservation_status_date,object,0.000000,926

In [6]:
df.drop(columns = ['agent', 'company'], inplace=True)

In [7]:
pd.DataFrame({'tipo de dados':df.dtypes,
                'dados_ausentes(%)': (df.isnull().sum()/df.shape[0])*100,
                    'valores unicos': df.nunique()}).sort_values(by='dados_ausentes(%)', ascending=False)

,tipo de dados,dados_ausentes(%),valores unicos
country,object,0.408744,177
children,float64,0.003350,5
hotel,object,0.000000,2
is_repeated_guest,int64,0.000000,2
reservation_status,object,0.000000,3
total_of_special_requests,int64,0.000000,6
required_car_parking_spaces,int64,0.000000,5
adr,float64,0.000000,8879
customer_type,object,0.000000,4
days_in_waiting_list,int64,0.000000,128
deposit_type,object,0.000000,3
booking_changes,int64,0.000000,21
assigned_room_type,object,0.000000,12
reserved_room_type,object,0.000000,10
previous_bookings_not_canceled,int64,0.000000,73
previous_cancellations,int64,0.000000,15
distribution_channel,object,0.000000,5
is_canceled,int64,0.000000,2
market_segment,object,0.000000,8
meal,object,0.000000,5
babies,int64,0.000000,5
adults,int64,0.000000,14
stays_in_week_nights,int64,0.000000,35
stays_in_weekend_nights,int64,0.000000,17
arrival_date_day_of_month,int64,0.000000,31
arrival_date_week_number,int64,0.000000,53
arrival_date_month,object,0.000000,12
arrival_date_year,int64,0.000000,3
lead_time,int64,0.000000,479
reservation_status_date,object,0.000000,926

In [8]:
df.query('children.isnull()')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,NaN,0,BB,PRT,Direct,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,NaN,0,BB,PRT,Online TA,Undefined,0,0,0,B,B,0,No Deposit,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [9]:
df = df.dropna(subset=['children', 'country']).reset_index(drop=True)

In [10]:
df['total_days'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
df.drop(columns = ['stays_in_week_nights', 'stays_in_weekend_nights'], inplace = True)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_days
0,Resort Hotel,0,342,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [11]:
filtro = (df['babies'] == 0) & (df['children'] == 0) & (df['adults'] == 0)
df = df[~filtro]

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_days
0,Resort Hotel,0,342,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  object
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_month              86753 non-null  object
 5   arrival_date_week_number        86753 non-null  int64
 6   arrival_date_day_of_month       86753 non-null  int64
 7   adults                          86753 non-null  int64
 8   children                        86753 non-null  float64
 9   babies                          86753 non-null  int64
 10  meal                            86753 non-null  object
 11  country                         86753 non-null  object
 12  market_segment                  86753 non-null  object
 13  distribution_channel            86753 non-null  object
 14  is_repeated_guest               86753 non-null  int64
 15  previous_cancellations          86753 non-null  int64
 16  previous_bookings_not_canceled  86753 non-null  int64
 17  reserved_room_type              86753 non-null  object
 18  assigned_room_type              86753 non-null  object
 19  booking_changes                 86753 non-null  int64
 20  deposit_type                    86753 non-null  object
 21  days_in_waiting_list            86753 non-null  int64
 22  customer_type                   86753 non-null  object
 23  adr                             86753 non-null  float64
 24  required_car_parking_spaces     86753 non-null  int64
 25  total_of_special_requests       86753 non-null  int64
 26  reservation_status              86753 non-null  object
 27  reservation_status_date         86753 non-null  object
 28  total_days                      86753 non-null  int64
dtypes: float64(2), int64(15), object(12)
memory usage: 19.9+ MB

In [15]:
df.drop(columns=['country', 'reservation_status_date', 'reservation_status', 'arrival_date_month'], inplace = True)

In [16]:
for index, row in df.iterrows():
    if row['reserved_room_type'] == row['assigned_room_type']:
        df.loc[index,'different_room_type'] =  0
    else:
        df.loc[index,'different_room_type'] =  1

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  object
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_week_number        86753 non-null  int64
 5   arrival_date_day_of_month       86753 non-null  int64
 6   adults                          86753 non-null  int64
 7   children                        86753 non-null  float64
 8   babies                          86753 non-null  int64
 9   meal                            86753 non-null  object
 10  market_segment                  86753 non-null  object
 11  distribution_channel            86753 non-null  object
 12  is_repeated_guest               86753 non-null  int64
 13  previous_cancellations          86753 non-null  int64
 14  previous_bookings_not_canceled  86753 non-null  int64
 15  reserved_room_type              86753 non-null  object
 16  assigned_room_type              86753 non-null  object
 17  booking_changes                 86753 non-null  int64
 18  deposit_type                    86753 non-null  object
 19  days_in_waiting_list            86753 non-null  int64
 20  customer_type                   86753 non-null  object
 21  adr                             86753 non-null  float64
 22  required_car_parking_spaces     86753 non-null  int64
 23  total_of_special_requests       86753 non-null  int64
 24  total_days                      86753 non-null  int64
 25  different_room_type             86753 non-null  float64
dtypes: float64(3), int64(15), object(8)
memory usage: 19.9+ MB

In [18]:
df['children'], df['different_room_type'] = df['children'].astype('int64', errors='raise'), df['different_room_type'].astype('int64', errors='raise')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  object
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_week_number        86753 non-null  int64
 5   arrival_date_day_of_month       86753 non-null  int64
 6   adults                          86753 non-null  int64
 7   children                        86753 non-null  int64
 8   babies                          86753 non-null  int64
 9   meal                            86753 non-null  object
 10  market_segment                  86753 non-null  object
 11  distribution_channel            86753 non-null  object
 12  is_repeated_guest               86753 non-null  int64
 13  previous_cancellations          86753 non-null  int64
 14  previous_bookings_not_canceled  86753 non-null  int64
 15  reserved_room_type              86753 non-null  object
 16  assigned_room_type              86753 non-null  object
 17  booking_changes                 86753 non-null  int64
 18  deposit_type                    86753 non-null  object
 19  days_in_waiting_list            86753 non-null  int64
 20  customer_type                   86753 non-null  object
 21  adr                             86753 non-null  float64
 22  required_car_parking_spaces     86753 non-null  int64
 23  total_of_special_requests       86753 non-null  int64
 24  total_days                      86753 non-null  int64
 25  different_room_type             86753 non-null  int64
dtypes: float64(1), int64(17), object(8)
memory usage: 19.9+ MB

In [20]:
from sklearn import preprocessing

In [21]:
cat_cols = [col for col in df.columns if df[col].dtype == 'O']

In [22]:
cat_cols

['hotel',
 'meal',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type']

In [23]:
le = preprocessing.LabelEncoder()

In [24]:
df[cat_cols] = df[cat_cols].apply(le.fit_transform)

In [25]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,total_days,different_room_type
0,1,0,342,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,3,0,0,2,0.0,0,0,0,0
1,1,0,737,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,4,0,0,2,0.0,0,0,0,0
2,1,0,7,2015,27,1,1,0,0,0,3,1,0,0,0,0,2,0,0,0,2,75.0,0,0,1,1
3,1,0,13,2015,27,1,1,0,0,0,2,0,0,0,0,0,0,0,0,0,2,75.0,0,0,1,0
4,1,0,14,2015,27,1,2,0,0,0,6,3,0,0,0,0,0,0,0,0,2,98.0,0,1,2,0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  int64
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_week_number        86753 non-null  int64
 5   arrival_date_day_of_month       86753 non-null  int64
 6   adults                          86753 non-null  int64
 7   children                        86753 non-null  int64
 8   babies                          86753 non-null  int64
 9   meal                            86753 non-null  int64
 10  market_segment                  86753 non-null  int64
 11  distribution_channel            86753 non-null  int64
 12  is_repeated_guest               86753 non-null  int64
 13  previous_cancellations          86753 non-null  int64
 14  previous_bookings_not_canceled  86753 non-null  int64
 15  reserved_room_type              86753 non-null  int64
 16  assigned_room_type              86753 non-null  int64
 17  booking_changes                 86753 non-null  int64
 18  deposit_type                    86753 non-null  int64
 19  days_in_waiting_list            86753 non-null  int64
 20  customer_type                   86753 non-null  int64
 21  adr                             86753 non-null  float64
 22  required_car_parking_spaces     86753 non-null  int64
 23  total_of_special_requests       86753 non-null  int64
 24  total_days                      86753 non-null  int64
 25  different_room_type             86753 non-null  int64
dtypes: float64(1), int64(25)
memory usage: 19.9 MB

In [27]:
df.var()

hotel                                0.237042
is_canceled                          0.199972
lead_time                         7414.720716
arrival_date_year                    0.470509
arrival_date_week_number           186.297475
arrival_date_day_of_month           78.053490
adults                               0.385892
children                             0.209061
babies                               0.012908
meal                                 1.171834
market_segment                       1.787364
distribution_channel                 0.881275
is_repeated_guest                    0.037231
previous_cancellations               0.136766
previous_bookings_not_canceled       2.955715
reserved_room_type                   3.367741
assigned_room_type                   3.896232
booking_changes                      0.506201
deposit_type                         0.016679
days_in_waiting_list               100.566892
customer_type                        0.281879
adr                               3007.377580
required_car_parking_spaces          0.078712
total_of_special_requests            0.692187
total_days                           7.441933
different_room_type                  0.125533
dtype: float64

## LOG

In [28]:
df_log = df.copy()

In [29]:
# normalizing numerical variables

df_log['lead_time'] = np.log(df_log['lead_time'] + 1)
df_log['arrival_date_week_number'] = np.log(df_log['arrival_date_week_number'] + 1)
df_log['arrival_date_day_of_month'] = np.log(df_log['arrival_date_day_of_month'] + 1)
df_log['adr'] = np.log(df_log['adr'] + 1)
df_log['days_in_waiting_list'] = np.log(df_log['days_in_waiting_list'] + 1)

In [30]:
df_log.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_week_number          0
arrival_date_day_of_month         0
adults                            0
children                          0
babies                            0
meal                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               1
required_car_parking_spaces       0
total_of_special_requests         0
total_days                        0
different_room_type               0
dtype: int64

In [31]:
df_log['adr'] = df_log['adr'].fillna(value = df_log['adr'].mean())

In [32]:
df_log.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,total_days,different_room_type
0,1,0,5.837730,2015,3.332205,0.693147,2,0,0,0,3,1,0,0,0,2,2,3,0,0.0,2,0.000000,0,0,0,0
1,1,0,6.603944,2015,3.332205,0.693147,2,0,0,0,3,1,0,0,0,2,2,4,0,0.0,2,0.000000,0,0,0,0
2,1,0,2.079442,2015,3.332205,0.693147,1,0,0,0,3,1,0,0,0,0,2,0,0,0.0,2,4.330733,0,0,1,1
3,1,0,2.639057,2015,3.332205,0.693147,1,0,0,0,2,0,0,0,0,0,0,0,0,0.0,2,4.330733,0,0,1,0
4,1,0,2.708050,2015,3.332205,0.693147,2,0,0,0,6,3,0,0,0,0,0,0,0,0.0,2,4.595120,0,1,2,0

In [33]:
X = df_log.drop(columns=['is_canceled'])
y = df_log['is_canceled']

In [34]:
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, stratify= y,test_size = 0.3,random_state=42)

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

In [36]:
# # from sklearn.metrics import confusion_matrix
# for model in [LogisticRegression,KNeighborsClassifier, SVC, DecisionTreeClassifier, RandomForestClassifier, AdaBoostClassifier,
#               GradientBoostingClassifier, XGBClassifier]:
#     cls = model()
#     cls.fit(X_train, y_train)
#     previsao = cls.predict(X_test)

#     acuracia = accuracy_score(y_test, previsao)*100
#     print(f'No modelo {model} A acurácia foi: %.2f%%' % acuracia)
#     cm = confusion_matrix(y_test, previsao)
#     print(cm)
#     clf_report = classification_report(y_test, previsao)
#     print(f"Classification Report : \n{clf_report}")

## StandartScale

In [37]:
df_scale = df.copy()

In [38]:
df_scale.var()

hotel                                0.237042
is_canceled                          0.199972
lead_time                         7414.720716
arrival_date_year                    0.470509
arrival_date_week_number           186.297475
arrival_date_day_of_month           78.053490
adults                               0.385892
children                             0.209061
babies                               0.012908
meal                                 1.171834
market_segment                       1.787364
distribution_channel                 0.881275
is_repeated_guest                    0.037231
previous_cancellations               0.136766
previous_bookings_not_canceled       2.955715
reserved_room_type                   3.367741
assigned_room_type                   3.896232
booking_changes                      0.506201
deposit_type                         0.016679
days_in_waiting_list               100.566892
customer_type                        0.281879
adr                               3007.377580
required_car_parking_spaces          0.078712
total_of_special_requests            0.692187
total_days                           7.441933
different_room_type                  0.125533
dtype: float64

In [39]:
df_scale.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,total_days,different_room_type
0,1,0,342,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,3,0,0,2,0.0,0,0,0,0
1,1,0,737,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,4,0,0,2,0.0,0,0,0,0
2,1,0,7,2015,27,1,1,0,0,0,3,1,0,0,0,0,2,0,0,0,2,75.0,0,0,1,1
3,1,0,13,2015,27,1,1,0,0,0,2,0,0,0,0,0,0,0,0,0,2,75.0,0,0,1,0
4,1,0,14,2015,27,1,2,0,0,0,6,3,0,0,0,0,0,0,0,0,2,98.0,0,1,2,0

In [40]:
X = df_scale.drop(columns=['is_canceled'])
y = df_scale['is_canceled']

In [41]:
x_cols = X.columns

In [42]:
df_scale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86753 entries, 0 to 118897
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86753 non-null  int64
 1   is_canceled                     86753 non-null  int64
 2   lead_time                       86753 non-null  int64
 3   arrival_date_year               86753 non-null  int64
 4   arrival_date_week_number        86753 non-null  int64
 5   arrival_date_day_of_month       86753 non-null  int64
 6   adults                          86753 non-null  int64
 7   children                        86753 non-null  int64
 8   babies                          86753 non-null  int64
 9   meal                            86753 non-null  int64
 10  market_segment                  86753 non-null  int64
 11  distribution_channel            86753 non-null  int64
 12  is_repeated_guest               86753 non-null  int64
 13  previous_cancellations          86753 non-null  int64
 14  previous_bookings_not_canceled  86753 non-null  int64
 15  reserved_room_type              86753 non-null  int64
 16  assigned_room_type              86753 non-null  int64
 17  booking_changes                 86753 non-null  int64
 18  deposit_type                    86753 non-null  int64
 19  days_in_waiting_list            86753 non-null  int64
 20  customer_type                   86753 non-null  int64
 21  adr                             86753 non-null  float64
 22  required_car_parking_spaces     86753 non-null  int64
 23  total_of_special_requests       86753 non-null  int64
 24  total_days                      86753 non-null  int64
 25  different_room_type             86753 non-null  int64
dtypes: float64(1), int64(25)
memory usage: 19.9 MB

In [43]:
X.head()

,hotel,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,total_days,different_room_type
0,1,342,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,3,0,0,2,0.0,0,0,0,0
1,1,737,2015,27,1,2,0,0,0,3,1,0,0,0,2,2,4,0,0,2,0.0,0,0,0,0
2,1,7,2015,27,1,1,0,0,0,3,1,0,0,0,0,2,0,0,0,2,75.0,0,0,1,1
3,1,13,2015,27,1,1,0,0,0,2,0,0,0,0,0,0,0,0,0,2,75.0,0,0,1,0
4,1,14,2015,27,1,2,0,0,0,6,3,0,0,0,0,0,0,0,0,2,98.0,0,1,2,0

In [44]:
cat_cols.append('is_canceled')

In [45]:
cat_cols.append( 'is_repeated_guest')

In [46]:
cat_cols.append('different_room_type')

In [47]:
cat_cols

['hotel',
 'meal',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type',
 'is_canceled',
 'is_repeated_guest',
 'different_room_type']

In [48]:
cat_var = df_scale[cat_cols]
cat_var.head()

,hotel,meal,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,is_canceled,is_repeated_guest,different_room_type
0,1,0,3,1,2,2,0,2,0,0,0
1,1,0,3,1,2,2,0,2,0,0,0
2,1,0,3,1,0,2,0,2,0,0,1
3,1,0,2,0,0,0,0,2,0,0,0
4,1,0,6,3,0,0,0,2,0,0,0

In [49]:
num_cols = df_scale.drop(columns=cat_cols)
num_cols.head()

,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_days
0,342,2015,27,1,2,0,0,0,0,3,0,0.0,0,0,0
1,737,2015,27,1,2,0,0,0,0,4,0,0.0,0,0,0
2,7,2015,27,1,1,0,0,0,0,0,0,75.0,0,0,1
3,13,2015,27,1,1,0,0,0,0,0,0,75.0,0,0,1
4,14,2015,27,1,2,0,0,0,0,0,0,98.0,0,1,2

In [50]:
from sklearn.preprocessing import StandardScaler
sca = StandardScaler()
X_temp= sca.fit_transform(num_cols)
X_temp = pd.DataFrame(X_temp, columns= num_cols.columns)

In [51]:
X_temp.head()

,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_days
0,3.039443,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,3.838826,-0.074828,-1.946725,-0.297793,-0.841220,-1.332249
1,7.626691,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,5.244358,-0.074828,-1.946725,-0.297793,-0.841220,-1.332249
2,-0.851008,-1.766791,0.011808,-1.677315,-1.419982,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.579091,-0.297793,-0.841220,-0.965676
3,-0.781328,-1.766791,0.011808,-1.677315,-1.419982,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.579091,-0.297793,-0.841220,-0.965676
4,-0.769715,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.159683,-0.297793,0.360743,-0.599104

In [52]:
frames = [cat_var, X_temp]

In [53]:
df_scale_new = pd.concat([cat_var.reset_index(drop=True), X_temp.reset_index(drop=True)], axis = 1)

In [54]:
df_scale_new.head()

,hotel,meal,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,is_canceled,is_repeated_guest,different_room_type,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_days
0,1,0,3,1,2,2,0,2,0,0,0,3.039443,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,3.838826,-0.074828,-1.946725,-0.297793,-0.841220,-1.332249
1,1,0,3,1,2,2,0,2,0,0,0,7.626691,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,5.244358,-0.074828,-1.946725,-0.297793,-0.841220,-1.332249
2,1,0,3,1,0,2,0,2,0,0,1,-0.851008,-1.766791,0.011808,-1.677315,-1.419982,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.579091,-0.297793,-0.841220,-0.965676
3,1,0,2,0,0,0,0,2,0,0,0,-0.781328,-1.766791,0.011808,-1.677315,-1.419982,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.579091,-0.297793,-0.841220,-0.965676
4,1,0,6,3,0,0,0,2,0,0,0,-0.769715,-1.766791,0.011808,-1.677315,0.189810,-0.305122,-0.09537,-0.081726,-0.102838,-0.377771,-0.074828,-0.159683,-0.297793,0.360743,-0.599104

In [55]:
X = df_scale_new.drop(columns = 'is_canceled')
y = df_scale_new['is_canceled']

In [56]:
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, stratify= y,test_size = 0.3,random_state=42)

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report

In [58]:
from sklearn.metrics import confusion_matrix
for model in [LogisticRegression,KNeighborsClassifier, SVC, DecisionTreeClassifier, RandomForestClassifier, AdaBoostClassifier,
              GradientBoostingClassifier, XGBClassifier]:
    cls = model()
    cls.fit(X_train, y_train)
    previsao = cls.predict(X_test)

    acuracia = accuracy_score(y_test, previsao)*100
    print(f'No modelo {model} A acurácia foi: %.2f%%' % acuracia)
    cm = confusion_matrix(y_test, previsao)
    print(cm)
    clf_report = classification_report(y_test, previsao)
    print(f"Classification Report : \n{clf_report}")

No modelo <class 'sklearn.linear_model._logistic.LogisticRegression'> A acurácia foi: 77.63%
[[17737  1097]
 [ 4726  2466]]
Classification Report :
              precision    recall  f1-score   support

           0       0.79      0.94      0.86     18834
           1       0.69      0.34      0.46      7192

    accuracy                           0.78     26026
   macro avg       0.74      0.64      0.66     26026
weighted avg       0.76      0.78      0.75     26026

No modelo <class 'sklearn.neighbors._classification.KNeighborsClassifier'> A acurácia foi: 77.97%
[[16529  2305]
 [ 3429  3763]]
Classification Report :
              precision    recall  f1-score   support

           0       0.83      0.88      0.85     18834
           1       0.62      0.52      0.57      7192

    accuracy                           0.78     26026
   macro avg       0.72      0.70      0.71     26026
weighted avg       0.77      0.78      0.77     26026

No modelo <class 'sklearn.svm._classes.SVC'> A acurácia foi: 79.65%
[[17886   948]
 [ 4349  2843]]
Classification Report :
              precision    recall  f1-score   support

           0       0.80      0.95      0.87     18834
           1       0.75      0.40      0.52      7192

    accuracy                           0.80     26026
   macro avg       0.78      0.67      0.69     26026
weighted avg       0.79      0.80      0.77     26026

No modelo <class 'sklearn.tree._classes.DecisionTreeClassifier'> A acurácia foi: 76.19%
[[15674  3160]
 [ 3037  4155]]
Classification Report :
              precision    recall  f1-score   support

           0       0.84      0.83      0.83     18834
           1       0.57      0.58      0.57      7192

    accuracy                           0.76     26026
   macro avg       0.70      0.70      0.70     26026
weighted avg       0.76      0.76      0.76     26026

No modelo <class 'sklearn.ensemble._forest.RandomForestClassifier'> A acurácia foi: 82.08%
[[17317  1517]
 [ 3146  4046]]
Classification Report :
              precision    recall  f1-score   support

           0       0.85      0.92      0.88     18834
           1       0.73      0.56      0.63      7192

    accuracy                           0.82     26026
   macro avg       0.79      0.74      0.76     26026
weighted avg       0.81      0.82      0.81     26026

No modelo <class 'sklearn.ensemble._weight_boosting.AdaBoostClassifier'> A acurácia foi: 80.19%
[[17479  1355]
 [ 3801  3391]]
Classification Report :
              precision    recall  f1-score   support

           0       0.82      0.93      0.87     18834
           1       0.71      0.47      0.57      7192

    accuracy                           0.80     26026
   macro avg       0.77      0.70      0.72     26026
weighted avg       0.79      0.80      0.79     26026

No modelo <class 'sklearn.ensemble._gb.GradientBoostingClassifier'> A acurácia foi: 80.49%
[[17561  1273]
 [ 3805  3387]]
Classification Report :
              precision    recall  f1-score   support

           0       0.82      0.93      0.87     18834
           1       0.73      0.47      0.57      7192

    accuracy                           0.80     26026
   macro avg       0.77      0.70      0.72     26026
weighted avg       0.80      0.80      0.79     26026

No modelo <class 'xgboost.sklearn.XGBClassifier'> A acurácia foi: 81.83%
[[17373  1461]
 [ 3268  3924]]
Classification Report :
              precision    recall  f1-score   support

           0       0.84      0.92      0.88     18834
           1       0.73      0.55      0.62      7192

    accuracy                           0.82     26026
   macro avg       0.79      0.73      0.75     26026
weighted avg       0.81      0.82      0.81     26026